<div id="<%= dom_id presence %>">
  <p>
    <strong>Date of day:</strong>
    <%= presence.date_of_day %>
  </p>

  <p>
    <strong>Presence:</strong>
    <%= presence.presence %>
  </p>

  <p>
    <strong>Teacher course:</strong>
    <%= presence.teacher_course_id %>
  </p>

  <p>
    <strong>Student course:</strong>
    <%= presence.student_course_id %>
  </p>

</div>
