<p style="color: green"><%= notice %></p>

<article class="blog-post">

<h2 class="display-5 link-body-emphasis mb-4"> <%= @student.name %></h2>
<p class="blog-post-meta">Email: <%= (@student.email) %></p>
<p class="blog-post-meta">Phone: <%= (@student.phone) %></p>
<p class="blog-post-meta">Adrress: <%= (@student.address) %></p>
<p class="blog-post-meta">Date of Birth: <%= (@student.date_of_birth) %></p>
<p class="blog-post-meta">Registration Number: <%= (@student.registration_number) %></p>
<p class="blog-post-meta">Course: <%= (@student.course.course_name) %></p>

<%= link_to 'Back', students_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-success' %>

</article>

