<p style="color: green"><%= notice %></p>

<%= render @course_entity %>

<div>
  <%= link_to "Edit this course entity", edit_course_entity_path(@course_entity) %> |
  <%= link_to "Back to course entities", course_entities_path %>

  <%= button_to "Destroy this course entity", @course_entity, method: :delete %>
</div>
