<div id="<%= dom_id entity %>">
  <p>
    <strong>Name:</strong>
    <%= entity.name %>
  </p>

  <p>
    <strong>Responsible:</strong>
    <%= entity.responsible %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= entity.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= entity.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= entity.email %>
  </p>

</div>
