<tr>
  <td><%= entity.name %></td>
  <td><%= entity.responsible %></td>
  <td><%= entity.address %></td>
  <td><%= entity.phone %></td>
  <td><%= entity.email %></td>
  <td>
    <%= link_to entity_path(entity) do %>
        <i class="fas fa-eye"></i>
    <%end%>
  </td>
  <td>
    <%= link_to edit_entity_path(entity) do %>
      <i class="fas fa-edit"></i>
    <%end%>
  </td>
</tr>
