<p style="color: green"><%= notice %></p>

<h1>Teacher</h1>

<div class="card card-default">
    <div class="card-header">
        <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>RG</th>
            <th>CPF</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td> <%= @teacher.name %> </td>
              <td> <%= @teacher.date_of_birth %> </td>    
              <td> <%= @teacher.address %> </td>
              <td> <%= @teacher.phone%> </td>
              <td> <%= @teacher.email%> </td>
              <td> <%= @teacher.rg %> </td>
              <td> <%= @teacher.cpf %> </td>
              
            </tr>
        </tbody>
        </table>
    </div>

      <div class="card card-default">
    <div class="card-header">
      <table class="table">
        <thead>
          <tr>
            <th>PIS</th>
            <th>CNPJ</th>
            <th>PROFESSION</th>
            <th>TEACHING EXPERIENCE</th>
            <th>PROFESSIONAL EXPERIENCE</th>
            <th>AREA OF EXPECIALIZATION</th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <td> <%= @teacher.pis %> </td>
              <td> <%= @teacher.cnpj %> </td>
              <td> <%= @teacher.profession %> </td>
              <td> <%= @teacher.teaching_experience %> </td>
              <td> <%= @teacher.professional_experience %> </td>
              <td> <%= @teacher.area_of_specialization %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


    <div class="card-footer">
      <%= link_to 'Edit', edit_teacher_path(@teacher), class: 'btn btn-success' %>
      <%= link_to 'Back', teachers_path, class: 'btn btn-primary' %>
    </div>
</div>
