<div id="<%= dom_id student_history %>">
  <p>
    <strong>Student:</strong>
    <%= student_history.student %>
  </p>

  <p>
    <strong>References:</strong>
    <%= student_history.references %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= student_history.course_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= student_history.grade %>
  </p>

</div>
