<p style="color: green"><%= notice %></p>

<%= render @student_history %>

<div>
  <%= link_to "Edit this student history", edit_student_history_path(@student_history) %> |
  <%= link_to "Back to student histories", student_histories_path %>

  <%= button_to "Destroy this student history", @student_history, method: :delete %>
</div>
